%h2.text-center Edit #{@sample.name}
%br

.row
  .col-sm-8.col-sm-offset-2
    = form_for(@sample,:html => { :class => "form-horizontal",
                                  :role  => "form" }) do |f|
      = render "sample_form", :f => f

