%h2 All Samples
%br

- if can? :manage, @samples
  .btn-toolbar{ :role => "toolbar" }
    .btn-group
      %a.btn.btn-primary{ :href => new_sample_path }
        %span.glyphicon.glyphicon-plus
        New sample
      %button.btn.btn-primary#destroy-samples{:type => "button",
          :disabled => true,
          :onclick => "destroy_samples()"}
        %span.glyphicon.glyphicon-minus
        Remove sample(s)
  %br

%table.table.table-striped#samples-table
  %tr
    - if can? :manage, Project
      %th.col-sm-1
    %th Name
    %th Received date
    %th Receiver
    %th Express
    %th Project(s)
  - @samples.each do |sample|
    = render 'sample', :sample => sample

= paginate @samples
