%h2.center New customer
%br

.row
  .col-sm-8.col-sm-offset-2
    = form_for(@customer,:html => { :class => "form-horizontal",
                                    :role  => "form" }) do |f|
      = render "customer_form", :f => f

      = f.submit "Create customer", :class => "btn btn-primary btn-lg"
