.row
  .col-sm-8.col-sm-offset-2
    %h2.text-center New Project
    %br
    = form_for(@project, :html => { :class => "form-horizontal",
                                    :role  => "form" }) do |f|
      = render "project_form", :f => f

      = f.submit "Create project", :class => "btn btn-primary btn-lg"

.customers{ :data => { :customers => @customers } }
