// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table#projects-table {
  a {
    text-decoration: underline;
    &:hover {
      background-color: transparent;
      color: black;
    }
  }
  select {
    padding: 0px;
  }
}

#project-procedures {
  div {
    height: 106.666667px;
    line-height: 106.666667px;
    font-weight: bold;
    text-align: center;
  }
  .procedure {
    border-radius: 15px;
    a {
      color: black;
      &:hover {
        background-color: transparent;
      }
    }
  }
}

#procedure-details {
  .row {
    margin: 0px;
  }
}
